{% extends "base.html" %}
{% block content %}
<h2>Learning Analytics</h2>
<ul>
  <li><a href="{% url 'learning_analytics:student_dashboard' %}">Students</a></li>
  <li><a href="{% url 'learning_analytics:class_dashboard' %}">Class analytics</a></li>
  <li><a href="{% url 'learning_analytics:topic_dashboard' %}">Topic analytics</a></li>
  <li><a href="{% url 'learning_analytics:contest_dashboard' %}">Contest analytics</a></li>
  <li><a href="{% url 'learning_analytics:skill_coverage_page' %}">Skill Coverage</a></li>
  <li><a href="{% url 'learning_analytics:training_tracks_page' %}">Training Tracks</a></li>
</ul>
{% endblock %}
